# Files
.env
.dccache
.DS_Store
standardlint.json
standardlint.results.json

# Folders
node_modules/
lib/
docs/
coverage/
jest-coverage/
.webpack/
.esbuild/
.serverless/

# Diagrams
**/*.bkp
**/*.bak
